<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @behavior.description %>
</p>

<%= link_to 'Edit', edit_behavior_path(@behavior) %> |
<%= link_to 'Back', behaviors_path %>
